*{
    margin: 0px;
}

body{
    background-color: cyan;
}

div#calculadora{
    margin: 80px auto;
    border: 5px solid darkslategray;
    border-radius: 10px;
    width: 352px;
    background-color: black;
}

div#buttons{
    padding: 10px;
    text-align: center;
}

div#calculos{
    height: 120px;
    background-color: white;
    height: 80px;
    width: 90%;
    margin: 23px auto;
    border-radius: 10px;
}

div#calculos p{
    font-size: 3em;
    color: black;
    font-family: Verdana;
    padding: 10px 10px;
}

button{
    text-align: center;
    cursor: pointer;
    color: white;
    width: 80px;
    background-color: darkslategray;
    height: 80px;
    font-size: 25px;
    border-radius: 100px;
    transition: all 300ms ease-in-out;
    font-family: Verdana;
}

button.op{
    background-color: rgb(24, 34, 34);
}

button:hover{
    box-shadow: inset 100px 0px 0px 0px rgb(24, 34, 34);
}

button.op:hover{
    box-shadow: inset 100px 0px 0px 0px darkslategray;
}

@media screen and (max-width: 600px) {
    button{
        width: 50px;
        height: 50px;
    }
    div#calculadora{
        width: 260px;
    }
}